@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
body{
	font-family: 'Noto Serif TC', serif;
}
.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 3000px;
}
.container header h1 {
    color: #073AA7;
    text-align: center;
    font-size: 46px;
}

.container header nav {
    text-align: center;
}
nav p a:link {
    color: #A83C14;
    text-decoration: none;
}

nav p a:hover {
    color: #039471;
    text-decoration: underline;
}
.container main article h3 {
    background-color: #0DF9F5;
    border-radius: 9px;
    height: 33px;
    padding-left: 9px;
    line-height: 33px;
}
.container header {
    width: 100%;
    height: 100vh;
    background-image: url(red-bull-shuttle-up-badminton-womens-doubles.jpg);
    background-position: center 2px;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
header nav h2 {
    color: #FCFCFC;
}
header nav p {
    color: #FFFFFF;
}
